.rfMap,
.rfMap *{
    box-sizing: border-box;
}
.rfMap {
    position: relative;
    max-width: 980px;
    margin: auto;
}
.rfMap .district b {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    background: rgba(51, 122, 183, 0.9);
    border-radius: 50%;
    left: 6px;
    top: 18px;
    transition: all 0.3s;
}
.rfMap .district span {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    line-height: 1;
    color: #FDC689;
}
.rfMap .district {
    display: none;
}
.rfMap.open .district b {
    top: 0;
    left: 0;
    border-radius: 0;
    width:100%;
    height: 100%;
}
.rfMap.open .district span {
    color: #FFF;
}
.rfMap svg {
    width: 100%;
    height: 100%;
}
.rfMap path {
    stroke: #FFFFFF;
    stroke-width: 1;
    stroke-linejoin: round;
}
.rfMap [data-code] {
    fill: #FDC689;
    /*fill: #337AB7;*/
    transition: fill 0.2s;
    cursor: pointer;
}
.rfMap [data-code]:hover {
    /*fill: #0180ef;*/
    fill: #E3B27B;
}
.rfMap .district-text {
    display: none;
    position: absolute;
    z-index: 6;
    left: 0;
    top: 60px;
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    padding: 0 20px;
    overflow: auto;
    color: #FFF;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}
.rfMap .closeDistrict {
    opacity: 0;
    z-index: 6;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: opacity 1s;
    pointer-events: none;
}
.rfMap.open .close-district {
    opacity: 1;
    pointer-events: initial;
}
.rfMap .district-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.rfMap .district-links div {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    padding: 4px;
}
.rfMap .district-links div:after {
    content: " | ";
    color: #FDC689;
}
.rfMap .district-links div:last-child:after {
    content: "";
}
.dropfill {
    fill: #FDC689!important;
}
.mainfill {
    fill: #1d4567!important;
}
@media (min-width:768px){
    .rfMap .district b {
        width: 28px;
        height: 28px;
        left: 6px;
        top: 28px;
    }
    .rfMap .district span {
        top: 30px;
        left: 46px;
        font-size: 20px;
        font-weight: normal;
    }
    .rfMap .districtText {
        left: 30px;
        top: 80px;
        width: calc(100% - 60px);
        height: calc(100% - 130px);
        font-size: 16px;
    }
    .rfMap .closeDistrict {
        width: 60px;
        height: 60px;
        font-size: 60px;
    }
    .rfMap .districtLinks {
        display: none;
    }
}

/* Цвета регионов */

.rfMap [data-code="RU-KR"],
.rfMap [data-code="RU-BA"],
.rfMap [data-code="RU-ME"],
.rfMap [data-code="RU-UD"],
.rfMap [data-code="RU-MO"],
.rfMap [data-code="RU-CU"],
.rfMap [data-code="RU-TA"],
.rfMap [data-code="RU-SA"],
.rfMap [data-code="RU-BU"],
.rfMap [data-code="RU-TY"],
.rfMap [data-code="RU-AL"],
.rfMap [data-code="RU-KK"],
.rfMap [data-code="RU-CR"],
.rfMap [data-code="RU-KL"],
.rfMap [data-code="RU-AD"],
.rfMap [data-code="RU-DA"],
.rfMap [data-code="RU-CE"],
.rfMap [data-code="RU-IN"],
.rfMap [data-code="RU-SE"],
.rfMap [data-code="RU-KB"],
.rfMap [data-code="RU-KC"],
.rfMap [data-code="RU-KO"]
{
    fill: #8781BD;
    cursor: pointer;
}

.rfMap [data-code="RU-KR"]:hover,
.rfMap [data-code="RU-BA"]:hover,
.rfMap [data-code="RU-ME"]:hover,
.rfMap [data-code="RU-UD"]:hover,
.rfMap [data-code="RU-MO"]:hover,
.rfMap [data-code="RU-CU"]:hover,
.rfMap [data-code="RU-TA"]:hover,
.rfMap [data-code="RU-SA"]:hover,
.rfMap [data-code="RU-BU"]:hover,
.rfMap [data-code="RU-TY"]:hover,
.rfMap [data-code="RU-AL"]:hover,
.rfMap [data-code="RU-KK"]:hover,
.rfMap [data-code="RU-CR"]:hover,
.rfMap [data-code="RU-KL"]:hover,
.rfMap [data-code="RU-AD"]:hover,
.rfMap [data-code="RU-DA"]:hover,
.rfMap [data-code="RU-CE"]:hover,
.rfMap [data-code="RU-IN"]:hover,
.rfMap [data-code="RU-SE"]:hover,
.rfMap [data-code="RU-KB"]:hover,
.rfMap [data-code="RU-KC"]:hover,
.rfMap [data-code="RU-KO"]:hover{
    fill: #7974AA;
}


.rfMap [data-code="RU-KAM"],
.rfMap [data-code="RU-PRI"],
.rfMap [data-code="RU-ZAB"],
.rfMap [data-code="RU-KYA"],
.rfMap [data-code="RU-ALT"],
.rfMap [data-code="RU-PER"],
.rfMap [data-code="RU-STA"],
.rfMap [data-code="RU-KDA"],
.rfMap [data-code="RU-KHA"]
{
    fill: #82CA9C;
    cursor: pointer;
}

.rfMap [data-code="RU-KAM"]:hover,
.rfMap [data-code="RU-PRI"]:hover,
.rfMap [data-code="RU-ZAB"]:hover,
.rfMap [data-code="RU-KYA"]:hover,
.rfMap [data-code="RU-ALT"]:hover,
.rfMap [data-code="RU-PER"]:hover,
.rfMap [data-code="RU-STA"]:hover,
.rfMap [data-code="RU-KDA"]:hover,
.rfMap [data-code="RU-KHA"]:hover
{
    fill: #75B58C;
}


.rfMap [data-code="RU-CHU"],
.rfMap [data-code="RU-KHM"],
.rfMap [data-code="RU-NEN"],
.rfMap [data-code="RU-YAN"]
{
    fill: #6DCFF6;
    cursor: pointer;
}

.rfMap [data-code="RU-CHU"]:hover,
.rfMap [data-code="RU-KHM"]:hover,
.rfMap [data-code="RU-NEN"]:hover,
.rfMap [data-code="RU-YAN"]:hover
{
    fill: #62BADD;
}


.rfMap [data-code="RU-HR"],
.rfMap [data-code="RU-DON"],
.rfMap [data-code="RU-LUG"],
.rfMap [data-code="RU-ZP"]
{
    fill: #FFEC77;
    cursor: pointer;
}

.rfMap [data-code="RU-HR"]:hover,
.rfMap [data-code="RU-DON"]:hover,
.rfMap [data-code="RU-LUG"]:hover,
.rfMap [data-code="RU-ZP"]:hover
{
    fill: #E5D46B;
}


.rfMap [data-code="RU-MOW"],
.rfMap [data-code="RU-SPE"]
{
    fill: #DF2D1D;
    cursor: pointer;
}

.rfMap [data-code="RU-MOW"]:hover,
.rfMap [data-code="RU-SPE"]:hover
{
    fill: #C8281A;
}